@import "ui/styles.css";

.text-bttf {
  @apply leading-[91%] tracking-[1px] transition-colors;
  font-family: var(--font-future);
}

.academy-grid {
  @apply flex flex-col-reverse text-white md:flex-row;
}
.academy-grid .academy-grid-col-1 {
  @apply mb-[50px] mt-[50px] flex h-auto max-h-[1024px] w-full flex-col justify-center space-y-8 px-[38px] md:mb-0 md:h-screen md:w-1/2 lg:mt-20;
}

.nav-division {
  --nav-division: calc(calc(1440px / 2) - 60px);
  --max-nav-division: calc(calc(100vw / 2) - 60px);
  @apply w-[var(--nav-division)] max-w-[var(--max-nav-division)];
}

.academy-grid .academy-grid-col-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  --de-margin-top: calc(0rem * calc(1 - var(--tw-space-y-reverse)));
  --pe-margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  @apply mt-[var(--de-margin-top)] md:mt-[var(--pe-margin-top)];
}

.academy-grid .text-bttf-lg {
  @apply text-bttf mb-6 text-center text-5xl lg:text-8xl;
}

.academy-grid .academy-grid-col-1 .description {
  @apply mx-auto text-center text-xl font-light md:text-2xl;
}

.dd-nft {
  @apply h-screen max-h-[547px] w-full  md:max-h-[1024px] md:w-1/2;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url("/bg_home.png"),
    var(--academy-bg-dark) -406.375px -146px / 219.132% 181.543% no-repeat;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* width */
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a3939;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
