@tailwind base;
@tailwind components;
@tailwind utilities;

.text-bttf {
  @apply leading-[91%] tracking-[1px] transition-colors;
  font-family: var(--font-future);
}

.academy-grid {
  @apply mx-auto grid h-screen max-h-[1024px] max-w-screen-2xl grid-rows-2 text-white md:grid-cols-2;
}

.academy-grid .academy-grid-col-1 {
  @apply order-2 my-auto h-full space-y-12 md:order-1 lg:pt-24;
}

.academy-grid .text-bttf-lg {
  @apply text-bttf mb-16 text-center text-6xl lg:text-8xl;
}

.academy-grid .academy-grid-col-1 .description {
  @apply mx-auto text-center text-2xl font-light;
}

.dd-nft {
  @apply relative order-1 h-full max-h-[1024px] py-6 md:order-2 lg:h-screen;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url("/D_D_NFT_image.png"),
    var(--academy-bg-dark) -406.375px -146px / 219.132% 181.543% no-repeat;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
