@import "ui/styles.css";

.text-bttf {
  @apply leading-[91%] tracking-[1px] transition-colors;
  font-family: var(--font-future);
}

.academy-grid {
  @apply mx-auto flex max-w-screen-2xl flex-col-reverse text-white md:flex-row;
}
.academy-grid .academy-grid-col-1 {
  @apply mb-28 mt-16 flex h-auto max-h-[1024px] w-full flex-col justify-center space-y-8 md:mb-0 md:h-screen md:w-1/2;
}

.academy-grid .text-bttf-lg {
  @apply text-bttf mb-6 text-center text-5xl lg:text-8xl;
}

.academy-grid .academy-grid-col-1 .description {
  @apply mx-auto text-center text-xl font-light md:text-2xl;
}

.dd-nft {
  @apply h-screen max-h-[547px] w-full  md:max-h-[1024px] md:w-1/2;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url("/dd_nft_image.png"),
    var(--academy-bg-dark) -406.375px -146px / 219.132% 181.543% no-repeat;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal-content {
  @apply max-h-screen overflow-auto bg-[#1C1C1C];

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-full bg-[#3A3939];
  }
}
